{%extends 'back/master.html'%} {% load static %} {%block mainblock%}
<div class="card card-outline card-info" style="width: 950px; padding: 20px; margin: 40px;">

    <table>
        <tr>
            <th>
                <a style="width: 40px; margin-left:10px;" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
            </th>
            <th>
                <label>  ادمین جدید  </label>
            </th>

        </tr>
    </table>

</div>
<form action="{% url 'newadmin'%} " method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card card-outline card-info" style="width: 950px; padding: 20px; margin: 40px;">

        <table>
            <tr>
                <th>
                    <div class="form-group" style="width:400px ; margin-right: 40px;">
                        <label> نام و نام خوانوادگی  </label>
                        <input id="name" name="name" type="text" class="form-control">
                    </div>
                </th>
                <th>
                    <div class="form-group" style="width:400px ; margin-right: 40px;">
                        <label> ایمیل   </label>
                        <input id="email" name="email" type="text" class="form-control">
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="form-group" style="width:400px ; margin-right: 40px;">
                        <label>رمز عبور </label>
                        <input id="password1" name="password1" type="text" class="form-control">
                    </div>
                </th>
                <th>
                    <div class="form-group" style="width:400px ; margin-right: 40px;">
                        <label> تکرار رمز عبور    </label>
                        <input id="password2" name="password2" type="text" class="form-control">
                    </div>
                </th>

            </tr>

        </table>

    </div>


    <div class="card card-outline card-info" style="width: 950px; padding: 20px; margin: 40px;">

        <button style="width: 800px; margin-right: 50px;" type="submit" class="btn btn-info">ارسال </button>

    </div>
</form>


{% endblock%}